.primary-yellow{
    color: #F0FF42;
}

.lemon{
    background-color: #c9edad;
}
.light_lemon{
    background-color: #82CD47;

}
.light_lemon2{
    color: #82CD47;
    
}

.nature{
    color: #54B435;
}

.green{
    color: #379237;
}
.green_bg{
    background-color: #379237;
}
#icon{
    width: 80px;
    height: 80px;
}